html,

#root{
    display:flex;
    justify-content: center;
    background: radial-gradient(circle at 3% 35%, rgb(214, 97, 206), rgb(87, 186, 252), rgb(252, 10, 30));
    color: aliceblue;
    font-size: 2;
    }
